body{
    background-color:rgb(242, 226, 204);
}

hr{
    width: 50%;
    color: white;
}

h1 {
    background-color:beige;
    border: 2px solid darksalmon;
    padding: 30px;
}

.Mian{
    text-align: center;
}

.Cont{
    background-color:beige;
    border: 2px solid darksalmon;
}

.Cont p{
    margin-left: 10px;
}

.Cont h2{
    margin-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }