body {
    background-color: blue;
}

video {
    transform: translate(-50%, -50%);
    position:absolute;
    top: 50%;
    left: 50%;
}

p {
    display:block;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;

    color:white;
    font-size: 100%;
}